<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzu.mapper.ScreeningMapper">

    <resultMap id="BaseResultMap" type="screening">
        <id property="sid" column="sid" jdbcType="INTEGER"/>
        <result property="hid" column="hid" jdbcType="INTEGER"/>
        <result property="mid" column="mid" jdbcType="INTEGER"/>
        <result property="showTime" column="show_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="remainingSeats" column="remaining_seats" jdbcType="INTEGER"/>
        <result property="seatCount" column="seat_count" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,hid,mid,
        show_time,end_time,price,remaining_seats,seat_count,
        version,is_deleted
    </sql>
    <select id="getScreeningDtoList" resultType="org.zzu.dto.ScreeningDto">
        SELECT s.sid, m.mname, h.hname, s.show_time, s.end_time, s.price, s.seat_count, s.remaining_seats,
        h.row_capacity
        FROM screening s
        JOIN movie m ON s.mid = m.mid
        JOIN hall h ON s.hid = h.hid
        WHERE
        s.is_deleted = 0 AND remaining_seats > 0
        <if test="portalVo.keyword != null and portalVo.keyword.length() > 0">
            AND m.mname LIKE CONCAT('%', #{portalVo.keyword}, '%')
        </if>
        <choose>
            <when test="portalVo.date != null">
                AND DATE(s.show_time) = STR_TO_DATE(CONCAT(DATE_FORMAT(#{portalVo.date, jdbcType=DATE}, '%Y-%m-%d'), '
                %'), '%Y-%m-%d %')
            </when>
<!--            <otherwise>-->
<!--                AND s.show_time > CURRENT_TIMESTAMP-->
<!--            </otherwise>-->
        </choose>
        ORDER BY s.show_time
    </select>
    <select id="showScreeningList" resultType="screening">
        SELECT *
        FROM screening s
        WHERE
        s.is_deleted = 0
        <if test="portalVo.id != null">
            AND s.mid = #{portalVo.id}
        </if>
        <if test="portalVo.date != null">
            AND DATE(s.show_time) = STR_TO_DATE(CONCAT(DATE_FORMAT(#{portalVo.date, jdbcType=DATE}, '%Y-%m-%d'), '
            %'), '%Y-%m-%d %')
        </if>
        ORDER BY s.show_time
    </select>
    <select id="checkConflict" resultType="int">
        SELECT COUNT(*)
        FROM screening s
        JOIN movie m ON #{entity.mid} = m.mid
        WHERE s.is_deleted = 0
        <if test="entity.sid != null">
            AND s.sid != #{entity.sid}
        </if>
        AND s.hid = #{entity.hid}
        AND (
        s.show_time &lt;= DATE_ADD(#{entity.showTime}, INTERVAL m.runtime MINUTE)
        AND
        s.end_time &gt;= #{entity.showTime}
        )
    </select>
</mapper>
